.ui.large.top.fixed.hidden.menu
  .ui.container
    a.active.item Home
    a.item Work
    a.item Company
    a.item Careers
    .right.menu
      .item
        a.ui.button Log in
      .item
        a.ui.primary.button Sign Up
.ui.vertical.inverted.sidebar.menu
  a.active.item Home
  a.item Work
  a.item Company
  a.item Careers
  a.item Log in
  a.item Sign Up