.ui.large.top.fixed.hidden.pointing.menu
  include /src/templates/main-menu.pug
.ui.vertical.inverted.sidebar.menu
  a.item(href="/") Home
  a.item(href="/about.html") About
  a.item(href="/benefits.html") Benefits
  a.item(href="/services.html") Services
  a.item(href="/testimonials.html") Testimonials
  a.item(href="/contact.html") Contact