.ui.large.top.fixed.hidden.pointing.menu
  .ui.container
    a.toc.item
      i.sidebar.icon
    a.item(href="/")
      img.ui.small.image(src="/logo.png")
    a.item(href="/about.html") About
    a.item(href="/benefits.html") Benefits
    a.item(href="/services.html") Services
    a.item(href="/testimonials.html") Testimonials
    a.item(href="/contact.html") Contact
    .right.item
      a.ui.black.button BOOK NOW
.ui.vertical.inverted.sidebar.menu
  a.item(href="/") Home
  a.item(href="/about.html") About
  a.item(href="/benefits.html") Benefits
  a.item(href="/services.html") Services
  a.item(href="/testimonials.html") Testimonials
  a.item(href="/contact.html") Contact