.ui.container
  .ui.large.pointing.menu
    a.logo.item(href="/")
      img.ui.image(src="/logo.png")
    a.item(href="/about.html") About
    a.item(href="/benefits.html") Benefits
    a.item(href="/services.html") Services
    a.item(href="/testimonials.html") Testimonials
    a.item(href="/contact.html") Contact
    .right.item
      a.ui.black.button(href="/contact.html") BOOK NOW
    a.right.toc.item
      i.sidebar.icon